@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.PostcardContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $color-tertiary;
  height: 100%;
  margin-bottom: 3rem;

  @include devices(desktop) {
    flex-direction: row;
    font-size: $desktop-font-size-button;
  }

  &__imagecontainer {
    position: relative;
    width: 100%;
    height: 50%;

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include devices(desktop) {
      width: 55%;
      height: 100%;
    }
  }

  &__fullscreen {
    position: absolute;
    height: 1rem;
    width: 1rem;
    right: 0.5rem;
    bottom: 0.5rem;

    @include devices(tablet) {
      height: 1.5rem;
      width: 1.5rem;
      right: 1rem;
      bottom: 1rem;
    }

    @include devices(desktop) {
      height: 2rem;
      width: 2rem;
      right: 1rem;
      bottom: 1rem;
    }
  }

  &__heading {
    position: absolute;
    top: 0;
    margin: 0.5rem auto auto 0.5rem;
    background-color: rgba(255, 255, 255, 0.306);
    color: white;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    padding: 0.4rem;
    border-radius: 1rem;

    &__title {
      font-size: 1.2rem;
      margin: unset;

      @include devices(tablet) {
        font-size: 2.5rem;
      }
    }

    &__bodyofwater {
      text-align: right;
    }

    &__date {
      text-align: right;
    }
  }

  &__content {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-around;
    padding: $mobile-card-padding;
    color: $color-foreground-dark;
    width: 100%;
    height: 50%;

    @include devices(tablet) {
      gap: 0.75rem;
    }

    @include devices(desktop) {
      width: 45%;
      height: 100%;
      gap: 1rem;
    }

    &__stamp {
      position: absolute;
      top: -2.5rem;
      right: 0.6rem;
      height: 5rem;
      transform: rotate(-4deg);
      width: auto;
      cursor: pointer;

      &:hover {
        transform: scale(1.03);
      }

      @include devices(tablet) {
        top: -2.5rem;
        right: 0.6rem;
        height: 5rem;
      }

      @include devices(desktop) {
        top: 1.5rem;
        right: 1.5rem;
        height: 8rem;
        transform: rotate(+3deg);
      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      & > label {
        display: flex;
        gap: 1rem;
      }

      &__input {
        border: none;
        border-bottom: 1px solid $color-primary;
        background-color: transparent;
        font-size: $tablet-font-size-button;

        @include devices(tablet) {
          font-size: $desktop-font-size-button;
        }

        &:focus {
          outline: none;
        }
      }

      &__textarea {
        border: none;
        outline: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        background-image:
          -webkit-linear-gradient(left, $color-tertiary 0, transparent 0),
          - webkit-linear-gradient(right, $color-tertiary 0, transparent 0),
          - webkit-linear-gradient(
              $color-tertiary 30px,
              $color-primary 30px,
              $color-primary 31px,
              $color-tertiary 31px
            );
        background-image:
          -moz-linear-gradient(left, $color-tertiary 0, transparent 0),
          - moz-linear-gradient(right, $color-tertiary 0, transparent 0),
          - moz-linear-gradient(
              $color-tertiary 30px,
              $color-primary 30px,
              $color-primary 31px,
              $color-tertiary 31px
            );
        background-image:
          -ms-linear-gradient(left, $color-tertiary 0, transparent 0),
          - ms-linear-gradient(right, $color-tertiary 0, transparent 0),
          - ms-linear-gradient(
              $color-tertiary 30px,
              $color-primary 30px,
              $color-primary 31px,
              $color-tertiary 31px
            );
        background-image:
          -o-linear-gradient(left, $color-tertiary 0, transparent 0),
          - o-linear-gradient(right, $color-tertiary 0, transparent 0),
          - o-linear-gradient(
              $color-tertiary 30px,
              $color-primary 30px,
              $color-primary 31px,
              $color-tertiary 31px
            );
        background-image: linear-gradient(
            left,
            $color-tertiary 0,
            transparent 0
          ),
          linear-gradient(right, $color-tertiary 0, transparent 0),
          linear-gradient(
            $color-tertiary 30px,
            $color-primary 30px,
            $color-primary 31px,
            $color-tertiary 31px
          );
        background-size:
          100% 100%,
          100% 100%,
          100% 31px;
        line-height: 31px;
        font-size: $tablet-font-size-button;
      }

      @include devices(tablet) {
        font-size: $desktop-font-size-button;
      }

      &__label {
      }
    }

    &__description {
      overflow-y: auto;
      max-height: 40%;
      padding: 0 0.6rem;

      @include devices(desktop) {
        max-height: 55%;
      }
    }
  }
}

.PostcardBorder {
  // content: "";
  background: url("../../assets/red-stripes.svg");
  // background: repeating-linear-gradient(
  //   45deg,
  //   #114abc,
  //   #114abc 10px,
  //   #fff 10px,
  //   #fff 20px,
  //   #bf2010 20px,
  //   #bf2010 30px,
  //   #fff 30px,
  //   #fff 40px
  // );
  // background-color: blue;
  padding: 20px;
  border-radius: 6px;
  // box-shadow: 1px 2px 6px 1px rgba(76, 66, 47, 0.75);
  // width: calc(100% - 24px);
  // height: calc(100% - 24px);
  // position: absolute;
  // top: -8px;
  // left: -8px;
}

.from {
  align-self: flex-end;
}

.towidth {
  width: 30%;
}

.PostcardDownload {
  padding: 1rem;
  margin: 1rem;
  z-index: 999999;
}
