@use "../styles/mixins" as *;

.nav {
  background-color: #333; // Replace with your desired background color
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.mobile-menu-icon {
  font-size: 24px;
  color: white;
  cursor: pointer;
  display: block;
  order: 2;
}

.navbar-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
}

.navbar-links.active {
  display: block;
  position: absolute;
  top: 60px; // Adjust as needed to position the menu below the navbar
  left: 0;
  right: 0;
  background-color: #333;
  flex-direction: column;
}

.navbar-links li {
  padding: 10px 20px;
}

.navbar-links a {
  text-decoration: none;
  color: white;
}

@include devices(tablet) {
  .mobile-menu-icon {
    display: none;
  }

  .navbar-links {
    display: flex; // Hide the desktop menu on smaller screens
  }
}
