@use "../styles/mixins" as *;
@use "../styles/variables" as *;
@use "../styles/typography" as *;

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $mobile-card-padding;
  border-radius: 1rem;
  background-color: $color-secondary;
  margin: $mobile-gutter;
  height: 4em;

  @include devices(tablet) {
    padding: $tablet-card-padding;
    margin: $tablet-gutter;
    height: 5em;
  }

  @include devices(desktop) {
    padding: $desktop-card-padding;
    margin: $desktop-gutter;
    height: 5em;
  }
}

.whale-icon {
  height: 5em;
  color: $color-primary;
  cursor: pointer;
  display: block;
  font-weight: $regularWeight;

  @include devices(tablet) {
    height: 2.5em;
    font-size: $tablet-font-size-subtitle;
    margin-right: $tablet-gutter;
  }

  @include devices(desktop) {
    height: 2em;
    font-size: $desktop-font-size-subtitle;
    margin-right: $desktop-gutter;
  }
}

.mobile-menu-icon {
  font-size: $mobile-font-size-subtitle;
  color: $color-primary;
  cursor: pointer;
  font-weight: $regularWeight;

  @include devices(desktop) {
    display: none;
  }
}

.navbar-links {
  list-style-type: none;
  margin: $mobile-gutter;
  padding: $mobile-card-padding;
  display: none;
  border-radius: 1rem;

  @include devices(tablet) {
    margin: $tablet-gutter;
    padding: $tablet-card-padding;
  }

  @include devices(desktop) {
    display: flex;
    color: $color-primary;
  }
}

.navbar-links.active {
  display: block;
  position: absolute;
  top: 5.5rem;
  left: 0;
  right: 0;
  background-color: $color-secondary;
  flex-direction: column;
  z-index: 5;

  @include devices(tablet) {
    top: 6rem;
    width: 40%;
    left: unset;
  }
}

.navbar-links li {
  padding: 0.5rem 1rem;
  text-align: center;

  @include devices(desktop) {
    padding: 0;
  }
}

.navbar-links a {
  padding: 0.25rem 1rem;
  text-decoration: none;
  color: $color-primary;
  font-size: $mobile-font-size-navbar;
  font-weight: $boldWeight;

  @include devices(tablet) {
    padding: 0.35rem 1rem;
    text-decoration: none;
    color: $color-primary;
    font-size: $tablet-font-size-navbar;
    font-weight: $boldWeight;
  }

  @include devices(desktop) {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: $color-primary;
    font-size: $desktop-font-size-navbar;
    font-weight: $boldWeight;
  }
}

.navbar-links a.active-page {
  color: white;
  background-color: $color-primary;
  border-radius: 2rem;
}
