@use "./variables" as *;
@use "./mixins" as *;

h1 {
  font-family: "Poiret One", sans-serif;
  font-weight: $boldWeight;
  font-size: $mobile-font-size-title;

  text-align: center;
  margin: $mobile-title-margin 0;

  @include devices(tablet) {
    font-size: $tablet-font-size-title;
    margin: $tablet-title-margin 0;
  }
  @include devices(desktop) {
    font-size: $desktop-font-size-title;
    margin: $desktop-title-margin 0;
  }
}

h2 {
  font-weight: $lighterWeight;
  font-size: $mobile-font-size-subtitle;

  margin: 0 0 $mobile-subtitle-margin;

  @include devices(tablet) {
    font-size: $tablet-font-size-subtitle;
    margin: 0 0 $tablet-subtitle-margin;
  }
  @include devices(desktop) {
    font-size: $desktop-font-size-subtitle;
    margin: 0 0 $desktop-subtitle-margin;
  }
}

p,
span {
  font-weight: $lighterWeight;
  font-size: $mobile-font-size-body;

  @include devices(tablet) {
    font-size: $tablet-font-size-body;
  }
  @include devices(desktop) {
    font-size: $desktop-font-size-body;
  }
}

p {
  text-align: justify;
}
