// Colors

$color-primary: #375898;
$color-secondary: #a4cafc;
$color-tertiary: #e2effd;
$color-background: #eef6fe;

$color-foreground: #ffffff;
$color-foreground-secondary: #375898;
$color-foreground-dark: black;

$color-error: red;
$color-success: green;

// Fonts

$mobile-font-size-title: 1.7rem;
$mobile-font-size-subtitle: 1.3rem;
$mobile-font-size-button: 0.85rem;
$mobile-font-size-body: 1rem;
$mobile-font-size-secondary: 0.4rem;

$tablet-font-size-title: 1.8rem;
$tablet-font-size-subtitle: 1.4rem;
$tablet-font-size-button: 1.25rem;
$tablet-font-size-body: 1rem;
$tablet-font-size-secondary: 0.635rem;

$desktop-font-size-title: 2rem;
$desktop-font-size-subtitle: 1.5rem;
$desktop-font-size-button: 1.5rem;
$desktop-font-size-body: 1rem;
$desktop-font-size-secondary: 0.75rem;

$regularWeight: 400;
$boldWeight: 600;
$lighterWeight: 300;

// Spacings

$mobile-gutter: 1rem;
$mobile-section-spacing: 2.5rem;
$mobile-card-padding: 1rem;

$tablet-gutter: 2rem;
$tablet-section-spacing: 3rem;
$tablet-card-padding: 1rem;

$desktop-gutter: 3rem;
$desktop-section-spacing: 5rem;
$desktop-card-padding: 1.5rem;
