@use "../../styles/mixins" as *;
@use "../../styles/sections" as *;
@use "../../styles/typography" as *;
@use "../../styles/variables" as *;

.EventsAndLeaderboard {
  display: flex;
  flex-direction: column;
  margin-bottom: $mobile-card-padding;
  cursor: auto;

  @include devices(desktop) {
    flex-direction: row;
    gap: $desktop-card-padding;
  }
}

.Board {
  padding: $mobile-input-padding;
  margin-top: $mobile-card-padding;
  border: solid $color-secondary;
  border-radius: $mobile-border-radius;
  background-color: $color-tertiary;
  width: 100%;

  @include devices(tablet) {
    border-radius: $tablet-border-radius;
    padding: $tablet-section-spacing;
  }

  @include devices(desktop) {
    width: 50%;
    border-radius: $desktop-border-radius;
  }

  &__Title {
    text-align: center;
  }

  &__Divider {
    width: 100%;
    text-align: center;
    margin-left: 0;
    border: 1px solid $color-secondary;
    margin: 0 0 20px;
  }

  &__Table {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin: 0 auto;
    border-radius: $mobile-border-radius;
    border: none;

    &__Row {
      display: flex;
      flex-flow: row nowrap;
      width: 100%;
      gap: $mobile-card-padding;
      cursor: pointer;

      .WhaleLoader {
        width: 15rem;
      }

      &__Item {
        display: flex;
        flex-direction: row;
        flex: 1;
        font-size: $mobile-font-size-dropdown-label;
        padding: $mobile-input-padding 0;
        justify-content: center;
        align-items: center;
        transition: all 0.25s ease-in-out;

        &--heading {
          font-weight: bold;
          color: $color-primary;
          font-size: $mobile-font-size-dropdown-label;
        }
      }

      &:hover {
        transform: scale(1.06);
        transition: all 0.3s ease-in-out;
      }
    }

    &__svg {
      height: 2rem;
      width: 2rem;
    }
  }
}

.Item_Thumbnail {
  height: 3rem;
  width: 3rem;
  border-radius: 100%;
  cursor: pointer;

  @include devices(tablet) {
    height: 3rem;
    width: 3rem;
  }

  @include devices(desktop) {
    height: 4rem;
    width: 4rem;
  }
}
