@use "../../styles/mixins" as *;
@use "../../styles/sections" as *;
@use "../../styles/typography" as *;
@use "../../styles/variables" as *;

.LatestPosts {
  margin-top: $mobile-gutter;
}

.LatestPostsRow {
  display: flex;
  flex-direction: row;
  //  gap: $mobile-card-padding;
  //  margin-top: $mobile-card-padding;
  overflow: auto;
  width: 100%;
}

.LatestPostCard {
  width: 350px;
  position: relative;
  border-radius: $mobile-border-radius;
  padding: $mobile-card-padding;

  &__ImgContainer {
    &__Img {
      max-width: 50vw;

      @include devices(tablet) {
        max-width: 38vw;
      }

      @include devices(desktop) {
        max-width: 15vw;
      }
    }
  }

  @include devices(tablet) {
    padding: $tablet-card-padding;
  }

  @include devices(desktop) {
    padding: $desktop-card-padding;
  }
}
