@use "../../styles/mixins" as *;
@use "../../styles/sections" as *;
@use "../../styles/typography" as *;
@use "../../styles/variables" as *;

.Leaderboard {
  padding: $mobile-input-padding;
  margin: $mobile-card-padding;
  border: solid $color-secondary;
  border-radius: $mobile-border-radius;
  background-color: $color-tertiary;
  width: 70%;

  @include devices(tablet) {
    padding: $tablet-section-spacing;
    margin: $tablet-card-padding;
  }

  &__Table {
    .th,
    td {
      padding: 0.1rem;
      font-size: $mobile-font-size-body;
      text-align: center;

      @include devices(tablet) {
        padding: 0.25rem;
        font-size: $tablet-font-size-body;
      }

      @include devices(desktop) {
        padding: 0.5rem;
        font-size: $desktop-font-size-body;
      }
    }
  }
}

.User_Thumbnail {
  height: 20px;

  @include devices(tablet) {
    height: 30px;
  }

  @include devices(desktop) {
    height: 40px;
  }
}
