@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.FeaturedPost {
  display: flex;
  flex-direction: column;
  background-color: $color-tertiary;
  border-radius: $mobile-border-radius;
  overflow: hidden;

  @include devices(tablet) {
    flex-direction: row;
    border-radius: $tablet-border-radius;
  }

  @include devices(desktop) {
    border-radius: $desktop-border-radius;
  }

  &__image {
    width: 100%;
    object-fit: cover;

    @include devices(tablet) {
      width: 50%;
    }

    @include devices(desktop) {
      width: 55%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
    padding: $mobile-card-padding;
    color: $color-foreground-dark;
    width: 100%;

    @include devices(tablet) {
      width: 50%;
      gap: 0.75rem;
    }

    @include devices(desktop) {
      width: 45%;
      gap: 1rem;
    }
  }

  &__heading {
    margin: 0 auto;

    &__title {
      font-size: 1.8rem;

      @include devices(tablet) {
        font-size: 2.5rem;
      }
    }

    &__bodyofwater {
      text-align: right;
    }

    &__date {
      text-align: right;
    }
  }

  &__description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;

    @include devices(desktop) {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 7;
      line-clamp: 7;
      -webkit-box-orient: vertical;
    }
  }

  &__user {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;

    &__image-container {
      height: 2.8rem;
      width: 2.8rem;
      position: relative;
      border-radius: 50%;
      overflow: hidden;
      object-fit: cover;

      @include devices(tablet) {
        height: 3.5rem;
        width: 3.5rem;
      }

      @include devices(desktop) {
        height: 5rem;
        width: 5rem;
      }
    }

    &__image {
      display: inline;
      margin: 0 auto;
      height: 100%;
      width: auto;
      min-width: 100%;
    }
  }

  &__interactions {
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    span {
      white-space: nowrap;
    }

    &__likes {
      display: flex;
      align-items: center;
    }

    img {
      height: 1rem;
      margin-right: 0.3rem;
    }
  }
}
