@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.modify-form-container {
  padding: 1rem;
  background-color: $color-secondary;
  height: 100%;
  width: 100%;

  @include devices(tablet) {
    padding: 2rem;
  }

  @include devices(desktop) {
    padding: 3rem;
  }
}

.post-description {
  height: 25%;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.submit-button {
  border-color: $color-primary;
  width: 25%;
}
