.leaflet-pane,
.leaflet-bottom {
  z-index: 0;
}

.leaflet-popup-content-wrapper {
  border-radius: 50%;
}

.image {
  max-height: 4rem;
  object-fit: cover;
  width: 3rem;
  height: 3rem;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

.sorting-options select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

.sorting-options::after {
  content: "▼";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.sorting-options select:hover,
.sorting-options select:focus {
  border-color: #0073e6;
  outline: none;
}

.marker-options select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
}

.marker-options::after {
  content: "▼";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.marker-options select:hover,
.marker-options select:focus {
  border-color: #0073e6;
  outline: none;
}

.filter-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.options-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-direction: row;
  margin-bottom: 5px;
  gap: 5px;
}

.sorting-options {
  margin-bottom: 0px;
}

.separator {
  width: 1px;
  height: 20px;
  background-color: #ccc;
  margin: 0 10px;
}

label {
  margin-right: 3px;
}
