.leaflet-pane,
.leaflet-bottom {
  z-index: 0;
}

.leaflet-popup-content-wrapper {
  border-radius: 50%;
}

.image {
  max-height: 4rem;
  object-fit: cover;
  width: 3rem;
  height: 3rem;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}
