@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

footer {
  margin-top: 2rem;
}

.Footer {
  margin-bottom: $mobile-gutter;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: $mobile-gutter;

  @include devices(desktop) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__Title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: $mobile-title-margin;

    &__Logo {
      height: 100px;
      margin-top: -30px;
    }
  }

  &__Links {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;

    @include devices(desktop) {
      font-size: $desktop-font-size-body;
      margin-top: $desktop-title-margin;
      gap: $mobile-gutter;
    }
  }
}

.Copyright {
  text-align: center;
  margin-top: 1rem;
  padding-bottom: $mobile-subtitle-margin;
}
