.submission-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  .submission-form-children {
    margin-top: 1rem;
  }

  input,
  select {
    padding: 0.5rem;
  }

  .image-upload {
    padding: 0;
  }
}
