@import "../styles/variables";

.submission-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  .submission-form-children {
    margin-top: 1rem;
  }

  input,
  select {
    padding: 0.5rem;
  }

  .image-upload {
    padding: 0;
  }
}

.w3w-container {
  display: flex;
  justify-content: space-between;

  input {
    width: 90%;
  }
}
.w3w-logo {
  max-height: 2rem;
  margin-bottom: -0.3rem;
}

.location-container {
  display: flex;
  justify-content: space-between;

  .location-error-message {
    display: block;
  }
}

.latlon-container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;

  input {
    width: 50%;
  }
}

.error-message {
  color: $color-error;
}
