@use "../styles/variables" as *;
@use "../styles/mixins" as *;

@mixin gridGallery($gutter-size, $elements) {
  gap: $gutter-size;
  grid-template-columns: repeat($elements, 1fr);
}

.ProjectsGallery {
  width: 100%;
  display: grid;

  @include gridGallery($mobile-gutter, 1);

  @include devices(tablet) {
    @include gridGallery($tablet-gutter, 2);
  }
  @include devices(tabletL) {
    @include gridGallery($tablet-l-gutter, 2);
  }

  @include devices(desktop) {
    @include gridGallery($desktop-gutter, 3);
  }
}

.Post {
  height: 300px;
  background-color: rgb(255, 215, 215);

  &__image {
    background-color: rgb(61, 197, 197);
    width: 100%;
    height: 200px;
  }

  &__info {
    p {
      text-align: center;
    }
  }

  &__title {
    font-weight: $boldWeight;
    line-height: 2.5rem;
  }

  &__text {
    font-size: $mobile-font-size-secondary;
  }

  @include devices(tablet) {
    &__title {
      font-weight: $boldWeight;
      line-height: 2.5rem;
    }

    &__text {
      font-size: $tablet-font-size-secondary;
    }
  }
  @include devices(desktop) {
    &__title {
      font-weight: $boldWeight;
      line-height: 2.5rem;
    }

    &__text {
      font-size: $desktop-font-size-secondary;
    }
  }
}

.Section-One {
  background-color: $color-primary;
  color: $color-foreground;
}
