@use "../styles/variables" as *;
@use "../styles/mixins" as *;

.PostsGallery {
  @include cardGallery();
}

.Posts {
  &__loader {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
  }

  &__None__heading {
    text-align: center;
  }
}

.create-post-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  z-index: 1000;
}
