@use "../styles/mixins" as *;
@use "../styles/variables" as *;
@use "../styles/typography" as *;

.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $mobile-card-padding;
    margin-bottom: $mobile-gutter;
    border: 1px solid $color-tertiary;
    border-radius: 8px;
    background-color: $color-secondary;

    @include devices(tablet) {
      padding: $tablet-card-padding;
      margin-bottom: $tablet-gutter;
    }

    @include devices(desktop) {
      padding: $desktop-card-padding;
      margin-bottom: $desktop-gutter;
    }

    .form-group {
      width: 100%;
      margin-bottom: $mobile-card-padding;

      @include devices(tablet) {
        margin-bottom: $tablet-card-padding;
      }

      @include devices(desktop) {
        margin-bottom: $desktop-card-padding;
      }

      label {
        display: block;
        font-weight: bold;
        margin-bottom: $mobile-subtitle-margin;

        @include devices(tablet) {
          margin-bottom: $tablet-subtitle-margin;
        }

        @include devices(desktop) {
          margin-bottom: $desktop-subtitle-margin;
        }
      }

      input {
        width: 100%;
        padding: $mobile-input-padding;
        border: 1px solid $color-tertiary;
        border-radius: 4px;
        font-size: $mobile-font-size-body;

        @include devices(tablet) {
          padding: $tablet-input-padding;
          font-size: $tablet-font-size-body;
        }

        @include devices(desktop) {
          padding: $desktop-input-padding;
          font-size: $desktop-font-size-body;
        }
      }
    }

    .error-message {
      color: red;
      margin-top: $mobile-subtitle-margin;

      @include devices(tablet) {
        margin-top: $tablet-subtitle-margin;
      }

      @include devices(desktop) {
        margin-top: $desktop-subtitle-margin;
      }
    }
  }
}
