@use "../styles/mixins" as *;
@use "../styles/variables" as *;
@use "../styles/typography" as *;

.user-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileimage {
  border-radius: 1rem;
  max-width: 100%;
  height: auto;
}

.user-info {
  color: $color-primary;
}
