@use "../styles/mixins" as *;
@use "../styles/variables" as *;
@use "../styles/typography" as *;

.user-banner {
  display: flex;
  flex-direction: row;
}

.user-page {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}

.user-profile-image {
  border-radius: 50%;
  height: auto;
  margin-right: 4rem;
  margin-bottom: 4rem;
  width: 10rem;
  height: 10rem;
  object-position: center center;
  object-fit: cover;

  @include devices(desktop) {
    width: 15rem;
    height: 15rem;
  }
}

.user-info {
  color: $color-primary;
}
