.Carousel {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  gap: 5rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &__Card {
    display: inline-block;
    flex-shrink: 0;

    padding: 3rem;
    width: 100%;
    height: 10rem;
    background-color: rgb(76, 76, 53);
  }
}
