@use "./styles/typography" as *;
@use "./styles/variables" as *;
@use "./styles/mixins" as *;
@use "./styles/sections" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  // font-family: "Poiret One", sans-serif;
  font-family: "Forum", sans-serif;
  background-color: $color-background;
}
