@use "./styles/typography" as *;
@use "./styles/variables" as *;
@use "./styles/mixins" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section > .section-content {
  max-width: 1200px;
  margin: auto;
  padding: 0 $mobile-gutter;

  @include devices(tablet) {
    padding: 0 $tablet-gutter;
  }

  @include devices(tabletL) {
    padding: 0 $tablet-l-gutter;
  }

  @include devices(desktop) {
    padding: 0 $desktop-gutter;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

section {
  width: 100vw;
  padding: $mobile-section-spacing 0;

  @include devices(tablet) {
    padding: $tablet-section-spacing 0;
  }

  // @include devices(tabletL) {
  //   padding: $mobile-section-spacing 0;
  // }

  @include devices(desktop) {
    padding: $desktop-section-spacing 0;
  }
}

:root {
  // font-family: "Poiret One", sans-serif;
  font-family: "Forum", sans-serif;
  background-color: $color-background;
}
